.home-container {
  background-image: url("../../assets/forest-2048742_1920.jpg");
}
.header{
  position: absolute;
  top:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.header span{
  font-size: 26px;
  color: white;
  font-weight: bolder;
  margin-top: 20px;

}
.header img{
  width: 40px;
  cursor: pointer;
}
.presentation{
    color: aliceblue;
    font-size: 36px;
    position: relative;
    top:40px;

}
.home-content {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  top:20px;
}
.home-grid {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 20px;
  column-gap: 20px;
  position: relative;
  top:80px;
}
.home-field {
  background-color: aliceblue;
  width: 350px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 50px;
}


.field-title{
    font-weight: bold;
    font-size:26px;
}
.field-value{
    font-size: 23px;
    width:350px;
    text-align: center;

    
    
}


input[type="checkbox"] {
  display: none;
  outline: none;
}

.checkbox-area{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
label {
  position: relative;
}

label::before {
  content: "";
  background: url("./../../assets/check-circle.svg");
  background-position: center;
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 18px;
  top: -20px;

  transform: scale(0) rotateZ(180deg);
  transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

input[type="checkbox"]:checked + label::before {
  transform: scale(1) rotateZ(0deg);
}

label::after {
  content: "";
  border: 2px solid grey;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 20px;
  top: -18px;
  border-radius: 50%;
}

.delete-button{
    width:240px;
    height:60px;
    margin-top: 100px;
    border-radius: 50px;
    outline: none;
}

.end-message{
  display: block;
  padding:30px 80px 30px 80px;
  border-radius: 60px;
  border:solid white 6px;
}


@media (max-width: 1400px) { 
  .header span{
    font-size: 26px;
    color: white;
    font-weight: bolder;
    margin-top: 5px;


  }

  .presentation{
    font-size: 26px;
}

  .home-field {
    background-color: aliceblue;
    width: 350px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 50px;
  }
  .end-container img{
    width:160px;
    position: relative;
    left: 45px;
    margin-bottom: 25px;

 }
  

}


@media (max-width: 900px) {
  .presentation{
display: none;

}
.header span{
  display: none;
}
.header{
  position: absolute;
}
.header img{
 width:35px;
}
  .home-grid {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 20px;
    position: relative;
    top:40px;
  }
  .home-field {
    background-color: aliceblue;
    width: 350px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    border-radius: 25px;
  }
  .field-title{
    position: absolute;
    left: 30px;
    font-size: 15px;
  }
  .field-value{
    position: absolute;
    left:30px;
    font-size:15px;
  }

  label::before {
    width: 32px;
    height: 32px;
    left: -30px;
    top: -8px;
 
  }

  
  label::after {
    width: 24px;
    height: 24px;
    left: -28px;
    top: -6px;
  }

   .end-container img{
     width:120px;
     position: absolute;
     left:120px;
     top:160px;

  }
  .end-message{
    position: relative;
    top:140px;

 }
 .delete-button{
  width:140px;
  height:30px;
  margin-top: 100px;
  border-radius: 50px;
  outline: none;
  position: relative;
  top: -40px;
}
}